*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
output.json
# Ignore keystores EXCEPT our stable debug keystore
*.jks
*.keystore
!app/foxmusic-debug.jks
google-services.json
*.log
.cxx/
*.hprof
.kotlin/
